@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.banner-container {
  width: 100%;

  background-size: cover;
  background-position: center;
  .banner {
    display: flex;
    align-items: center;
    height: 100vh;
    .banner-content-container {
      width: 100%;
      padding: 0px 128px;
      max-width: 1650px;
      margin: auto;
      .banner-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px;
        gap: 24px;
        h1 {
          font-family: Montserrat;
          color: #ffffff;
          font-size: 56px;
          font-weight: 700;
          margin: 0;
        }

        .subtext {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          margin: 5px 0px;
          color: #ffffff;
        }
        .subIcons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: row;
          gap: 18px;
          p {
            margin: 0px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.5px;
            color: #dddddd;
          }
        }
        .banner-contact_us_button {
          background: #ffffff;
          border-radius: 4px;
          font-weight: 700;
          font-size: 14px;
          color: #2c74d6;
          float: left;
          padding: 14px 16px;
          border: 2px solid #fff;
          display: flex;
          align-items: center;
          column-gap: 12px;
          p {
            margin: 0;
            font-family: Roboto;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: -0.01em;
            width: auto;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .banner-container {
    .banner {
      height: 60vh;
      background-size: cover;
      .banner-content-container {
        padding: 0px;

        .banner-content {
          position: relative;
          top: 0;
          left: 0;
          bottom: 0;
          max-width: 100%;
          padding: 64px 16px;
          gap: 16px;
          h1 {
            font-size: 32px;
          }
          .subtext {
            font-size: 14px;
            max-width: 100%;
            width: 100%;
          }
          .banner-contact_us_button {
            padding: 8px 12px;
            column-gap: 8px;
            p {
              font-size: 14px;
            }
          }
          .subIcons {
            gap: 8px;

            img {
              width: 40px;
            }
          }
        }
      }
    }
  }
}
