.parent-div {
  position: relative;
  .great-place {
    width: 384px;
    padding-top: 24px;
    padding-left: 8px;
    height: 85px;
    float: right;
    position: absolute;
    right: 0;
    z-index: 99 !important;
    bottom: 0;
    border-radius: 16px 0px 0px 0px;
    background: linear-gradient(270deg, #ff8008, #ffc837);
    transition: transform 2s cubic-bezier(0.38, 0.01, 0.38, 0.01),
      -webkit-transform 2s cubic-bezier(0.38, 0.01, 0.38, 0.01);
    -webkit-animation: top-to-bottom 2s cubic-bezier(0.38, 0.01, 0.38, 0.01);
    animation: top-to-bottom 2s cubic-bezier(0.38, 0.01, 0.38, 0.01);

    @keyframes top-to-bottom {
      0% {
        transform: translateY(100%);
      }
    }

    .greatPlaceImg {
      margin-left: -3px;
      position: absolute;
      bottom: -4px;
    }

    .badgeTitle {
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 24px;
      margin-left: 82px;
      line-height: 14px;
    }

    .badgeDescription {
      font-family: "Roboto";
      font-weight: 400;
      font-size: 13.9px;
      margin-left: 82px;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .parent-div {
    .great-place {
      width: 100%;
      border-radius: 0px;
    }
  }
}
