.card {
  background: #1c3b96;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 1rem;
  margin: 10px;
  width: 384px;
  border-radius: 16px;
  transition: 0.2s;

  .image-container {
    height: 48px;
    width: 48px;
    display: grid;
    place-items: center;
    border-radius: 8px;
    background-color: #334FA0;

    img {
      z-index: 1;
      width: 32px;
      height: 32px;
    }
  }

  .description {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: auto;

    .single-description {
      display: flex;
      gap: 0.5rem;

      .bullet-point {
        padding-top: 5px;
        height: 8px;
        width: 8px;
      }

      span {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.25px;
        color: #DDDDDD;
      }
    }
  }

  h3 {
    margin: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: #ffffff;
  }

  button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    padding: 0px;
    line-height: 140%;
    letter-spacing: 0.25px;
    color: #ffffff;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
  }

  &:hover {
    background: #ffffff;

    .image-container {
      background-color: #EAF1FB;

      img {
        filter: brightness(0) saturate(100%) invert(37%) sepia(27%) saturate(2892%) hue-rotate(189deg) brightness(99%) contrast(85%);
      }
    }

    h3 {
      color: #07172d;
    }

    .description {
      .single-description {
        .bullet-point {
          filter: invert(21%) sepia(0%) saturate(66%) hue-rotate(199deg) brightness(104%) contrast(82%);
        }

        span {
          color: #444444;
        }
      }
    }

    button {
      color: #2c74d6;
    }
  }
}

@media only screen and (max-width: 440px) {
  .cards {
    width: 90%;
    margin: auto;
  }
}