.vertical-carousel {
  display: flex;
  gap: 80px;
  align-items: baseline;
  justify-content: space-between;
  .content {
    .content__review {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      height: 180px;
      line-height: 140%;
      letter-spacing: 0.25px;
      color: #111111;
      span {
        color: #2c74d6;
        font-weight: 600;
      }
    }
    h4 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.25px;
      color: #222222;
      margin: 32px 0 8px 0;
    }
    .designation {
      margin: 0px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0.25px;
      color: #777777;
    }
  }
  .vertical-carousel__tabs {
    width: 120px;
    text-align: center;

    button {
      background: transparent;
      margin: 20px;
      width: 60px;
      height: 60px;
      opacity: 0.9;
      transition: opacity 0.5s;
      border-radius: 50%;
      border: unset;
      img {
        border-radius: 50%;
        transition: width 1s, height 1s;
        width: 60px;
        height: 60px;
        opacity: 0.2;
      }
    }
    .hide {
      display: none;
      height: 8px;

      align-items: center;
      background: linear-gradient(96.18deg, #d1e2fb -0.09%, #f4f7fa 84.36%);
      width: 8px;
    }
    .active {
      display: flex;
      height: 92px;

      align-items: center;
      background: linear-gradient(96.18deg, #d1e2fb -0.09%, #f4f7fa 84.36%);
      width: 92px;
      img {
        border-radius: 50%;
        width: 80px;

        height: 80px;
        opacity: 1;
      }
    }
  }
  .name-design {
    display: none;
  }
}
@media only screen and (max-width: 1048px) {
  .vertical-carousel {
    flex-direction: column;
    gap: 28px;
    .content {
      .white-quotes {
        width: 48px;
      }
      h4 {
        display: none;
      }
      .designation {
        display: none;
      }
      .content__review {
        font-size: 16px;
        height: 100px;
      }
    }
    .vertical-carousel__tabs {
      width: unset;
      margin-top: 28px;
      button {
        margin: 10px;
        img {
          width: 36px;
          height: 36px;
        }
      }
      .active {
        display: unset;
        padding: 0;
        width: 56px;
        height: 56px;
        img {
          width: 48px;
          height: 48px;
        }
      }
    }
    .name-design {
      display: block;
      width: 100%;
      text-align: center;

      h4 {
        margin: 0px;
      }
    }
  }
}
