.particles {
  z-index: -1 !important;

  position: unset !important;
  background: #2c73d6 !important;
}
canvas {
  // z-index: -1 !important;
  max-height: 100vh !important;
  position: unset !important;
}
